<div class="container">
  <% @projects.each do |project| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if project.users %>
              by <%= link_to project.users.name, user_path(project.users) %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to project.name, project_path(project), class: "text-success text-decoration-none" %></h5>
            <%= link_to 'View', project_path(project), class: "btn btn-outline-success" %>
            <% if logged_in? && (project.users == current_user || current_user.manager?) %>
              <%= link_to 'Edit', edit_project_path(project), class: "btn btn-outline-info" %>
              <%= link_to 'Delete', project_path(project.id), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(project.created_at) %> ago,
              Updated <%= time_ago_in_words(project.updated_at) %> ago
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<p class = "ms-4">
  <%= link_to 'Create a new Project', new_project_path, class: "btn btn-outline-success" %>
</p>